<% @article.comments.each do |comment| %>
    <div class="article article__comments-item">
        <p class="article article__comments-author"><%= comment.created_at.to_formatted_s(:short) %> | <%= comment.commenter %> said:</p>
        <pre class="article article__comments-body"><%= comment.body %></pre>
    </div>
    <div>
        <% if current_user %>
            <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
<% end %>