/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page__wrap{
    width: 90vw;
    max-width: 766px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

.page__frame{
    border: 1px solid #ccc;
}

.page__content{
    padding: 20px;
}

.site__head{
    padding: 20px 20px 15px;
    text-align: center;
    border-bottom: 1px dashed #ccc;
}

.site__head h1{
    color: #000;
    font-size: 28px;
}

.site__head-link{
    text-align: right;
}

pre{
    margin: 0;
}

table{
    border-collapse: collapse;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td{
    padding: 6px;
}

input, textarea{
    margin: 6px 0;
}

input{
    display: block;
    width: 40%;
    height: 24px;
    padding: 4px 4px;
    font-size: 14px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

input[type="submit"]{
    width: 25%;
    height: 30px;
    background: #393;
    color: #fff;
}

input[type="checkbox"]{
    display: inline-block;
    width: 14px;
    height: 14px;
}

textarea{
    display: block;
    width: 40%;
    height: 200px;
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}