.article{
    .article__title{
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .article__main{
        font-size: 14px;
        line-height: 1.5;
    }

    .article__comments{
        margin-top: 20px;
        background-color: #F3F5F9;
        padding: 14px;
    }

    .article__comments-head{
        margin-bottom: 8px;
    }

    .article__comments-item{
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .article__comments-author{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .article__comments-body{
        font-size: 14px;
        color: #666;
    }
}

.comment{
    .comment__hint{

    }
}